---

---

<nav id="tc-nav-sidebar" class="navbar navbar-default navbar-narrow">
  <div class="container-fluid">

    <!-- Nav links for toggling -->
    <div class="collapse navbar-collapse" id="collapsing-nav-bar">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Documentation<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/strategy/strategy-overview">Strategy</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_intro">Theory</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Instructions<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/deployment/web-deployment-overview">Deployment</a></li>
                    <li><a href="/deployment/web-initialisation">Initialisation</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/docs/cash-configuration">Configuring Cash Transactions</a></li>
                    <li><a href="/docs/cash-book">Cash Book and Invoicing</a></li>
                    <li><a href="/docs/accounts-generation">Generating Company Accounts</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/docs/accounts-filing">Filing Company Accounts</a></li>
                    <li><a href="/docs/vat-filing">VAT Integration</a></li>
                </ul>
            </li>
            <li><a href="/dev/">Developments</a></li>
            <ul class="dropdown-menu">
              <li><a href="/dev/">Overview</a></li>
              <li><a href="https://github.com/tradecontrol/">GitHub</a></li>
            </ul>
        </ul>

    </div>
  </div>
</nav>


 
