---

---

<nav id="tc-nav-sidebar" class="navbar navbar-default navbar-narrow">
  <div class="container-fluid">

    <!-- Nav links for toggling -->
    <div class="collapse navbar-collapse" id="collapsing-nav-bar">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Articles<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/articles/tc_intro">Introduction</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_production">Production Systems</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_balance_sheet">The Balance Sheet</a></li>
                    <li><a href="/articles/tc_profit_and_loss">The Profit and Loss Account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_assets">Asset Accounting</a></li>
                    <li><a href="/articles/tc_industrial_capitalism">Industrial Capitalism</a></li>
                    <li><a href="/articles/tc_financial_capitalism">Financial Capitalism</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_commerce">Commercial Law</a></li>
                    <li><a href="/articles/tc_tax">Tax</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Tutorials<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/tutorials/overview">Overview</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/tutorials/installing-web">ASP.NET Core website setup</a></li>
                    <li><a href="/tutorials/installing-local">Basic single user installation</a></li>
                    <li><a href="/tutorials/installing-sqlnode">Installing a Trade Control node</a></li>
                    <li><a href="/tutorials/installing-office">Installing an Office 365 client</a></li>
                    <li><a href="/tutorials/installing-vsto">Configuring VSTO documents</a></li>
                    <li><a href="/tutorials/installing-powerbi">Power BI template sample data</a></li>
                    <li><a href="/tutorials/installing-network">Setting up an ethereum network</a></li>
                    <li><a href="/tutorials/installing-bitcoin">Installing a bitcoin wallet </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/tutorials/cash-codes">Classifying cash transactions</a></li>
                    <li><a href="/tutorials/cash-book">Accounts and Invoicing</a></li>
                    <li><a href="/tutorials/balance-sheet">How to generate a Balance Sheet</a></li>
                    <li><a href="/tutorials/accounts-filing">Filing Company Accounts</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/tutorials/services">Business System overview</a></li>
                    <li><a href="/tutorials/manufacturing">Modelling a Bill of Materials</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/tutorials/digital-tax">MTD Vat posting</a></li>
                    <li><a href="/tutorials/powerbi">Business Intelligence with Power BI</a></li>
                    <li><a href="/tutorials/quotations">Raising quotations from XML price lists</a></li>
                    <li><a href="/tutorials/pricelists">Generating XML price lists</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/tutorials/network">Connecting Trade Control nodes in supply-chains</a></li>
                    <li><a href="/tutorials/bitcoin">Using a bitcoin commercial wallet as your UOA</a></li>
                </ul>
            </li>
            <li><a href="/dev/">Developments</a></li>
            <ul class="dropdown-menu">
              <li><a href="/dev/">Overview</a></li>
              <li><a href="https://github.com/tradecontrol/">GitHub</a></li>
            </ul>
        </ul>

    </div>
  </div>
</nav>


 
